<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exomatik.manajemenpangkat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        android:fullBackupContent="true"
        >
        <activity android:name="com.exomatik.manajemenpangkat.ui.auth.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.auth.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.fragmentHome.MainPegawaiActivity"
            android:label="@string/halaman_utama"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.fragmentArsip.ArsipPegawaiActivity"
            android:label="@string/arsip"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.BiodataActivity"
            android:label="@string/biodata"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.PangkatActivity"
            android:label="@string/pangkat"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.daftarUsulan.UsulKPActivity"
            android:label="@string/usul_kp"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.daftarUsulan.PengajuanSelesaiActivity"
            android:label="@string/pengajuan_selesai"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.StatusPengajuanActivity"
            android:label="@string/status_pengajuan_berkas"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.NotifikasiPegawaiActivity"
            android:label="@string/action_notif"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.utils.LihatFotoActivity"
            android:label="Lihat Foto"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.daftarUsulan.UsulanPelaksanaActivity"
            android:label="@string/daftar_usulan"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.pegawai.daftarUsulan.UsulanStrukturalActivity"
            android:label="@string/daftar_usulan"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.adminFakultas.fragment.MainFakultasActivity"
            android:label="@string/admin_fakultas"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.rektor.MainRektorActivity"
            android:label="@string/rektor"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bagianUmum.fragment.MainBagianUmumActivity"
            android:label="@string/bagian_umum"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bagianKepegawaian.fragment.MainBagianKepegawaianActivity"
            android:label="@string/bagian_kepegawaian"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bkn.fragment.MainBKNActivity"
            android:label="@string/bkn"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.rektor.fragment.pelaksana.DetailPelaksanaRektorActivity"
            android:label="@string/usulan_administrasi_rektor"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.adminFakultas.RiwayatFakultasActivity"
            android:label="@string/riwayat"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.adminFakultas.fragment.pelaksana.DetailPelaksanaFakultasActivity"
            android:label="@string/usulan_administrasi_pelaksana"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.adminFakultas.fragment.struktural.DetailStrukturalFakultasActivity"
            android:label="@string/usulan_administrasi_struktural"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.rektor.fragment.struktural.DetailStrukturalRektorActivity"
            android:label="@string/usulan_administrasi_struktural"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bkn.fragment.pelaksana.DetailPelaksanaBKNActivity"
            android:label="@string/usulan_administrasi_pelaksana"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bagianUmum.fragment.pelaksana.DetailPelaksanaBagianUmumActivity"
            android:label="@string/usulan_administrasi_pelaksana"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bagianUmum.fragment.struktural.DetailStrukturalBagianUmumActivity"
            android:label="@string/usulan_administrasi_struktural"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bkn.fragment.struktural.DetailStrukturalBKNActivity"
            android:label="@string/usulan_administrasi_struktural"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bagianKepegawaian.fragment.pelaksana.DetailPelaksanaBagianKepegawaianActivity"
            android:label="@string/usulan_administrasi_pelaksana"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bagianKepegawaian.fragment.struktural.DetailStrukturalBagianKepegawaianActivity"
            android:label="@string/usulan_administrasi_struktural"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.rektor.RiwayatRektorActivity"
            android:label="@string/riwayat"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bagianUmum.RiwayatBagianUmumActivity"
            android:label="@string/riwayat"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bagianKepegawaian.RiwayatBagianKepegawaianActivity"
            android:label="@string/riwayat"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.ui.bkn.RiwayatBKNActivity"
            android:label="@string/riwayat"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.exomatik.manajemenpangkat.utils.DetailPDFActivity"
            android:label="@string/file"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>